@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(204, 204, 204);
}

.conteudo {
    background-color: rgb(255, 255, 255);
    height: auto;
    min-height: 100vh;
    width: 60vw;
    margin: auto;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 3px double rgb(218, 218, 218);
}

#titulo-principal {
    padding: 40px 0;
    font-size: 2.6em;
}

.foto-daniel {
    border-radius: 40%;
}

/* Menu */
.menu {
    font-size: 1.2em;
    padding: 20px 0;
    border-bottom: 3px double rgb(218, 218, 218);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu ul a {
    text-decoration: none;
    color: black;
}

.menu ul a:hover {
    font-size: 1.05em;
    color: blue;
}

/* Página inicial */
.pagina-inicial {
    padding: 20px 40px 0 40px;
    border-bottom: 3px double rgb(218, 218, 218);
}

.pagina-inicial article {
    padding: 10px 0;
}

.pagina-inicial p {
    padding: 5px 0;
    text-align: justify;
    text-indent: 40px;
}

/* Página currículo */
.curriculo {
    padding: 20px 40px 0 40px;
    border-bottom: 3px double rgb(218, 218, 218);
}

.informacoes-basicas {
    display: flex;
    justify-content: space-between;
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
}

.informacoes-basicas i {
    margin-right: 5px;
}

.objetivo {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.curriculo article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.esquerda {
    width: 50%;
}

.direita {
    width: 45%;
}

h4 {
    border-bottom: 2px solid black;
    margin-top: 1.7rem;
}

ul {
    margin-left: 19px;
}

.resumo {
    text-align: justify;
}

.resumo h4 {
    margin-bottom: 5px;
}

.experiencia-profissional p {
    padding: 3px 0;
}

.cargo {
    font-size: 1.2rem;
}

.empresa {
    color: rgb(0, 162, 255);
    font-weight: bold;
}

.data-localizacao {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    color: rgb(80, 80, 80);
}

.data-localizacao i {
    margin-right: 5px;
}

.experiencia {
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 2px 0 7px 0;
}

.experiencia:nth-child(3) {
    border: none;
}

.formacao-academica p {
    padding: 5px 0;
}

.curso {
    font-size: 1.2rem;
}

.faculdade {
    color: rgb(0, 162, 255);
    font-weight: bold;
}

.periodo {
    font-size: 0.8rem;
    color: rgb(80, 80, 80);
    text-align: center;
}

.periodo i {
    margin-right: 5px;
}

.estudo {
    border-bottom: 1px solid rgb(180, 180, 180);
    padding: 5px 0 10px 0;
}

.estudo:nth-child(4) {
    border: none;
}

.idioma div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.download-curriculo {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
}

.download-curriculo a {
    color: rgb(85, 96, 255);
}

/* Rodapé */
.rodape {
    padding: 20px 40px;
}

.rodape ul {
    display: flex;
    justify-content: space-around;
}

.rodape li {
    padding: 20px;
    list-style: none;
}

.rodape li a {
    color: rgb(51, 51, 51);
    font-size: 2.2em;
}

.rodape li a:hover {
    font-size: 2.4em;
    color: rgb(0, 0, 0);
}

/* Página em manutenção */
.manutencao {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

.manutencao a {
    font-size: 1.5em;
    width: 100vw;
}

.manutencao a:hover {
    font-size: 1.6em;
    color: #0000ff;
}

.manutencao img {
    width: 30vw;
    margin-top: 20px;
    margin: 10px auto;
}

.manutencao p {
    width: 80vw;
    font-size: 3em;
    margin: 10px auto;
    text-align: center;
}